<div class="container">
    <h2>Tasks</h2>
    <div class="tasks">
        <ul>

            <li class="task-item">
                <span>task 1</span>
                <div class="icons">
                    <a href="#"><i class="fa-light fa-trash"></i></a>
                    <a href="#"><i class="fa-thin fa-wrench"></i></a>
                </div>

            </li>
            <li class="task-item">
                <span>task 2</span>
                <div class="icons">
                    <a href="#"><i class="fa-light fa-trash"></i></a>
                    <a href="#"><i class="fa-thin fa-wrench"></i></a>

                </div>

            </li>
            <li class="task-item">
                <span>task 3</span>
                <div class="icons">
                    <a href="#"><i class="fa-light fa-trash"></i></a>
                    <a href="#"><i class="fa-thin fa-wrench"></i></a>
                </div>

            </li>

        </ul>
    </div>
</div>