<div class="signup">
    <div class="signup-container">

        <form action="post" class="form-group">
            <label for="name">User Name</label>
            <input #name type="text" id="name" class="form-control">

            <label for="email">Email</label>
            <input #email type="email" id="email" class="form-control">

            <label for="password">Password</label>
            <input #passwd type="password" id="password" class="form-control">

            <label for="repeatpw">Repeat Password</label>
            <input type="password" id="repeatpw" class="form-control">

            <div class="submitbtn">
                <input type="submit" value="Sign Up" class="btn btn-primary" routerLink="/home" (click)="addUser(name.value, email.value, passwd.value)">
            </div>

            <div class="loginalter">
                <span>already have account?</span><a routerLink="/login">login</a>
            </div>
        </form>

    </div>
</div>