/* default theme */
:root {
    --dark: #2C3639;
    --gray: #3F4E4F;
    --brown: #A27B5C;
    --white: #DCD7C9;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--brown);
    color: var(--white);
}

